
@{
    Layout = null;
    ViewBag.Title = "Registration";
}

<link href="~/Content/admin.css" rel="stylesheet" />
<script src="~/Content/admin.js"></script>


<div style="z-index: 1; position: absolute; width: 25%; right: 2%; top: 13%;">
    @if (ViewBag.message == "success")
    {
        <div class="alert alert-success" role="alert" style="z-index: 100;">
            Register Successfull!!! Login Now.
        </div>
    }
    @if (ViewBag.message == "not success")
    {
        <div class="alert alert-danger" role="alert" style="z-index: 100;">
            Email Already Exists !!! Try again!
        </div>
    }
</div>
<section class="h-100">
    <div class="container h-100">

        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9" style="margin-top:3%;">


                <div class="card shadow-lg" style="transition: 0.4s">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Registration</h1>
                        <form action="Registration" method="POST" class="needs-validation" autocomplete="off"> 
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="U_UserNameShortCode">User Name Short Code</label>
                                <input id="U_UserNameShortCode" type="text" style="max-width: 100%;" class="form-control" name="U_UserNameShortCode" value="" required placeholder="sam_01">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="U_Name">Full Name</label>
                                <input id="U_Name" type="text" style="max-width: 100%;" class="form-control" name="U_Name" value="" required>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="U_Email">Email</label>
                                <input id="U_Email" type="email" style="max-width: 100%;" class="form-control" name="U_Email" value="" required>
                            </div>
                              <div class="mb-3">
                                <label class="mb-2 text-muted" for="U_Phone">Phone</label>
                                <input id="U_Phone" type="text" style="max-width: 100%;" class="form-control" name="U_Phone" value="" required>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="U_Password">Password</label>
                                <input id="U_Password" type="password" style="max-width: 100%;" class="form-control" name="U_Password" value="" required>
                            </div> 

                            <div class="d-flex justify-content-lg-between align-content-center">
                                <div class="form-check">
                                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                    <label for="remember" class="form-check-label">Remember Me</label>
                                </div>
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account?
                            @Html.ActionLink("Login Now", "Login", "Raffle", new { area = "" }, new { @class = "text-dark" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<script>
    setTimeout(function () {
        $(".alert").fadeOut(1000);
    }, 3000);
</script>
