@{
    ViewData["Title"] = "Terms & Conditions";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-12">
            <h1 class="display-5 fw-bold lh-1 mb-3">Terms & Conditions</h1>
            <h3 class="display-5   lh-1 mb-3" style="font-size: 2rem;">Disclaimer</h3>
            <p class="lead" style="text-align: justify; font-size: 1rem;">
                1.	Introduction <br>
                Welcome to Raffle Kings, an online platform for raffle enthusiasts to browse, select, and participate in various raffles. By using this website, you agree to comply with and be bound by the following terms and conditions of use. If you do not agree to these terms and conditions, please do not use this website. <br> <br>
                2.	Eligibility <br>
                Participants must be at least 18 years old to participate in any raffles offered on Raffle Kings. Participants must also comply with all applicable laws and regulations in their jurisdiction. <br> <br>
                3.	Raffles <br>
                Raffles offered on Raffle Kings are subject to availability and may change without notice. The website reserves the right to cancel or change any raffle at any time, without notice. <br> <br>
                4.	Booking <br>
                Participants can book available slots in any raffle offered on Raffle Kings. The total amount due will be calculated based on the number of slots selected and the price of a single slot. Participants must enter their name and contact details accurately, and payment must be made before the booking can be confirmed. <br> <br>
                5.	Prize Redemption <br>
                All prizes offered on Raffle Kings are subject to availability and may change without notice. The website is not responsible for the quality, safety, or suitability of any prize offered. Winners are responsible for any applicable taxes, duties, or other charges associated with the prize. <br> <br>
                6.	Liability <br>
                The website is not liable for any direct, indirect, incidental, or consequential damages arising out of the use or inability to use the website, the raffles offered, or the prizes won. The website is not responsible for any loss, theft, or damage to any personal property of participants. <br> <br>
                7.	Intellectual Property <br>
                All content on the Raffle Kings website, including but not limited to text, images, logos, and trademarks, is the property of Raffle Kings or its affiliates and is protected by copyright laws. You may not use any content on this website for commercial purposes without the express written consent of Raffle Kings. <br> <br>
                8.	Governing Law <br>
                These terms and conditions are governed by and construed in accordance with the laws of the jurisdiction in which Raffle Kings operates. <br> <br>
                9.	Changes to Terms and Conditions <br>
                Raffle Kings reserves the right to change these terms and conditions at any time, without notice. Your continued use of the website constitutes your agreement to any such changes. <br> <br>
                10.	Disclaimer <br>
                Raffle Kings does not guarantee that the website, raffles offered, or prizes won will meet your requirements or expectations, or that they will be uninterrupted, timely, secure, or error-free. The website is provided on an "as is" and "as available" basis. <br> <br>
                11.	Contact Information <br>
                If you have any questions or concerns about these terms and conditions, please contact us at <a href="mailto: info@rafflekings.co.za">info@rafflekings.co.za</a> <br> <br> <br>
                By using Raffle Kings, you acknowledge that you have read, understood, and agree to these terms and conditions.
            </p>
            @*<div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">More</button>
            </div>*@
        </div>
    </div>
</div>